body {
  background-color: #f5f5f9;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.field_main {
  display: none;
}

.chat-box {
  height: 75vh;
  overflow-y: auto;
}

.message {
  max-width: 60vw;
  width: fit-content;
  box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 20px;
  clear: both;
}

.own-message {
  text-align: right;
  background-color: #696cff;
  color: white;
  border-top-right-radius: 0px;
  float: right;
}

.other-message {
  text-align: right;
  background-color: white;
  color: #697a8d;
  border-top-left-radius: 0px;
}

.nama_user {
  font-weight: bold;
  text-align: left;
}
