<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    {{! Dashboard }}
    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    {{! Create Notes }}
    <li class="nav-item">
      <a class="nav-link collapsed" href="/notes/create">
        <i class="bi bi-journal-plus"></i>
        <span>Create Notes</span>
      </a>
    </li>

    {{! List Notes }}
    <li class="nav-item">
      <a class="nav-link collapsed" href="/notes/list">
        <i class="bi bi-journals"></i>
        <span>List Notes</span>
      </a>
    </li>
  </ul>
</aside>