<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <!-- Partials digunakan di sini -->
        {{> navbar }}
    </header>

    <!-- Konten variabel dari view -->
    {{{body}}}

    {{> footer }}
</body>
</html>
