<div class="row">
  <div class="col-lg-12 d-flex gap-3">
    <a href="/notes/create">
      <button type="button" class="btn btn-primary"><i
          class="bi bi-journal-plus me-2"
        ></i>Create Notes</button>
    </a>

    <a href="/notes/list">
      <button type="button" class="btn btn-success"><i
          class="bi bi-journals me-2"
        ></i>List Notes</button>
    </a>
  </div>
</div>