<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Notes</title>

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    <!-- Template File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    {{> header }}
    {{> sidebar }}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>{{title}}</h1>
      </div>

      <section class="section bg-white p-3 rounded" style="height: 80vh">
        {{{body}}}
      </section>
    </main>


    <!-- bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Template File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>